.custom-select-wrapper {
  position: relative;
  width: 100%; display: flex; flex-wrap: nowrap; justify-content: space-between;
  font-family: 'Apple SD Gothic Neo', sans-serif; align-items: center;
  margin: 2rem auto 0;
}
.CustomSelect{width: 100%; }
.custom-select {
  padding:0 1rem; width: calc(80% - 1.5rem);
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-size: 1.6rem; line-height: 2;
  color: #333;
  transition: all 0.3s;
  text-align: left;
}

.custom-options {
  position: absolute;
  top: 100%; width: 80%;
  left: 0;
  right: 0;
  border: 1px solid #ccc; background: #fff;
  z-index: 10;
  transition: all 0.3s;
}

.custom-option {
  padding: 1rem;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
  display: block; 
  cursor: pointer;
  transition: background 0.2s;
  text-align: left;
}

.custom-option:hover {
  background-color: #f0f0f0;
}

.search-button {width: calc(20% - 1.5rem);
  padding: 0.8rem 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.search-button:hover {
  background-color: #0056b3;
}
.custom-select-wrapper {
  position: relative;
  z-index: 1000; /* 메뉴보다 위에 떠야 함 */
}

.custom-select-wrapper {
  position: relative;
  width: 100%;
  font-family: 'Apple SD Gothic Neo';
  font-size: 1.6rem;
  z-index: 999;
}

.custom-select-input {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  background: transparent;
  color: #000;
}

.custom-option {
  padding: 1rem 2rem;
  color: #333;
  cursor: pointer;
  transition: background 0.2s;
}

.custom-option:hover {
  background-color: #f0f0f0;
}

.no-result {
  padding: 1rem 2rem;
  color: #aaa;
}
.ResultList {
  margin-top: 2rem;

}

.ResultList ul {
  list-style: none;
  padding-left: 1rem;
}

.ResultList li a{
  padding: 0.5rem 0;
    font-size: 1.6rem;
  line-height: 2;
  text-align: left; display: block;
}